<section class="flex flex-col items-center justify-center w-full h-full gap-5" id="about">
    <h2 class="text-6xl font-visitor">About</h2>
<p class="w-2/3 sm:w-2/5 text-xl">
        Hi I’m Alexa 👋 a developer, college student, and content creator! <br><br>
        Driven by my love for learning and fostering connections within the tech community,
        I strive to work on projects that make a difference. <br><br> Through 
        <a class="text-lime underline" href="https://bitsofgood.org">Bits of Good</a> at Georgia Tech,
        I’ve channeled my skills into developing applications for local nonprofits. 
        <br><br> You’ll also find me creating technical content on <a class="text-lime underline" href="https://www.youtube.com/@RoboticNation">YouTube</a>
        and <a class="text-lime underline" href="https://www.twitch.tv/robotic_nation">Twitch</a> where 
        I explore web development, networks, system architecture, and whatever is captivating me at the moment!
    </p>
</section>