body {
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
	@apply bg-dark text-off-white;
}

@font-face {
	font-family: 'Visitor';
	font-display: swap;
	font-weight: 400;
	src: url(/src/assets/fonts/visitor1.ttf) format('truetype');
}