---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import HeroPage from "../screens/HeroPage.astro";
import AboutPage from "../screens/AboutPage.astro";

import "../styles/global.css";
import ProjectsPage from '../screens/ProjectsPage.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="overflow-x-hidden w-screen">
        <Navbar />
        <main class="h-screen">
            <HeroPage />
            <AboutPage />
            <ProjectsPage />
        </main>
	</body>
</html>