<div>
    <p class="about">
        Hi, I’m Alexa. A developer, college student, and YouTuber. This is my dev blog.
    </p>
    <a href="https://www.buymeacoffee.com/alexafazio" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
</div>