---
const today = new Date();
const {showAffiliateLinks = true} = Astro.props;
---

<footer class="flex flex-col items-center gap-4 m-10">
	{showAffiliateLinks && <a href="https://www.buymeacoffee.com/alexafazio" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;"></a>}
	&copy; {today.getFullYear()} Alexa Fazio. All rights reserved.
</footer>
