<header class="w-full text-off-white sticky top-0 right-0 bg-dark">
    <nav class="flex flex-row justify-center sm:justify-end gap-6 py-4 sm:gap-8 sm:mr-10 text-xl h-full">
        <a class="hover:underline" href="/">Home</a>
        <a class="hover:underline" href="/#about">About</a>
        <a class="hover:underline" href="/#projects">Projects</a>
        <a class="hover:underline" href="/blog">Blog</a>
    </nav>
</header>